# Cópie para .env e preencha os valores
# cp .env.example .env

PORT=3000
METRICS_PORT=2112
POSTGRESQL_READ_URL=postgres://user:password@localhost:5432/database
POSTGRESQL_WRITE_URL=postgres://user:password@localhost:5432/database
