# ===== Rust / Cargo =====
/target/
**/*.rs.bk
Cargo.lock

# ===== VS Code =====
.vscode/
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/settings.json

# ===== Sistema =====
.DS_Store
Thumbs.db

# ===== Logs =====
*.log

# ===== Build temporário =====
*.tmp
*.swp
